/*-- scss:defaults --*/

@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

// fonts
$font-family-sans-serif: "Inter";
$font-family-monospace: "IBM Plex Mono", mono;

// main colors
$body-bg: #fff !default;
$body-bg-orange: #ff7400 !default;
$body-color: #404e6b !default;
$code-color: #404e6b !default;
$body-blue: #6cabdd;

// body
$presentation-font-size-root: 44px !default;
$presentation-line-height: 1.15 !default;

// headings
$presentation-h1-font-size: 80px !default;
$presentation-h2-font-size: 64px !default;
$presentation-h3-font-size: 48px !default;
$middle-h1-font-size: 95px !default;
$title-h1-font-size: 100px !default;

// code blocks
$code-block-bg: #F3F4F6;

/*-- scss:mixins --*/

// --------------------- //
@mixin bodyBackground() {
  background-image: url("https://raw.githubusercontent.com/rfortherestofus/rfortherestofus-slides/main/assets/rru-hex-bg-gradient-light.svg");
  background-size: cover;
  background-color: $body-bg;
}

/*-- scss:rules --*/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: 700;
  margin-bottom: 24px;
}

// title slide
h1.title {
  color: $body-bg;
  font-size: $title-h1-font-size;
  letter-spacing: -2px;
  font-weight: 700;
}

h2.title,
h3.title {
  font-size: $presentation-h2-font-size;
  font-weight: 400;
}

// inverse slides
.inverse {
  color: $body-bg;

  .slide-background-content {
    background-color: $body-color;
    background-image: url("https://raw.githubusercontent.com/rfortherestofus/rfortherestofus-slides/main/assets/rru-hex-bg-gradient-dark.svg");
  }

  h1,
  h2 {
    color: $body-bg;
    line-height: 1;
    letter-spacing: -2px;
    text-align: center;
    font-size: $title-h1-font-size;
  }
}

.reveal[data-navigation-mode="linear"] .title-slide h1,
.reveal[data-navigation-mode="linear"] .title-slide h2,
.reveal[data-navigation-mode="linear"] .title-slide h3,
.reveal[data-navigation-mode="linear"] .title-slide h4,
.reveal[data-navigation-mode="linear"] .title-slide h5,
.reveal[data-navigation-mode="linear"] .title-slide h6 {
  font-size: 100px;
}

// my turn slides
.my-turn {
  color: $body-bg;

  .slide-background-content {
    background-color: $body-bg-orange;
    background-image: url("https://raw.githubusercontent.com/rfortherestofus/rfortherestofus-slides/main/assets/rru-hex-bg-gradient-light.svg");
  }

  h1,
  h2,
  h3 {
    color: $body-bg;
  }
}

// your turn slides
.your-turn {
  color: $body-bg;

  .slide-background-content {
    background-color: $body-blue;
    background-image: url("https://raw.githubusercontent.com/rfortherestofus/rfortherestofus-slides/main/assets/rru-hex-bg-gradient-white.svg");
  }

  h1,
  h2 {
    color: $body-bg;
    line-height: 1;
    letter-spacing: -2px;
  }

  a,
  a:hover {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  ul {
    margin-left: 0.3em;
  }

  ul li {
    list-style: none;
  }

  code {
    color: #ffffff;
  }

}

// custom rules
.xl {
  font-size: 200%;
}

.large {
  font-size: 130%;
}

.small {
  font-size: 70%;
}

.small code {
  font-size: 13px;
}

a,
a > code {
  color: #6cabdd;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.error-text {
  color: #ff0000;
}

.hljs-github .hljs-string,
.hljs-github .hljs-doctag {
  color: #19751e;
}

.reveal p,
.reveal li {
  font-weight: 300;
}

.reveal li {
  padding-top: 8px;
  padding-bottom: 8px;
}
